h1,h3{
    color: crimson;
}

/*  Descendent tag */
nav ul li a{
    background-color: aquamarine;
    color: brown;
}

.follow1 a{

    color: chocolate;
    background-color: black;
    text-decoration: none;
}

/* using sibling combination i.e tags on the same level which come one after the other */

p + h3{
    text-decoration: underline;
}

.upvote + button{
    background-color:blueviolet;
}

/* child combinator div parent input child */
div>input{
    background-color: yellowgreen;
    color: black;
    font-weight: bold;
}

/* hover psuedo class */

button:hover{
    background-color: black;
    color: antiquewhite;
}

h3:hover{

    text-decoration: yellow overline;
}

button:active{
    background-color: darkmagenta;
}

input[type="radio"]:checked + label{

    color: red;
    font-weight: bold;
}

div:nth-of-type(2n){
    background-color: aquamarine
}

/* psuedo elements */

h1::first-letter{

    background-color: blueviolet;
    color:black;
}