*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    width: 400px;
    height:300px ;
    border: 2px solid black;
    background-color: black;
    color: white;
    animation: test 2s linear infinite;
}

@keyframes test {
    from{
        font-size: 30px;
        }

    to{
        font-size: 60px;
    }    
}